/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

.ee-widget *,
.ee-widget ::before,
.ee-widget ::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.default', currentColor);
}

.ee-widget button {
  cursor: pointer;
}

.ee-select.vue-treeselect__input {
  @apply focus:tw-ring-0;
}

.ee-select.vue-treeselect__placeholder {
  @apply tw-text-sm;
}

.ee-select.vue-treeselect__placeholder {
  @apply tw-text-gray-400 !important;
}

.ee-select.vue-treeselect__multi-value-item {
  @apply tw-bg-base-blue-main tw-text-white !important;
}

.ee-select.vue-treeselect__multi-value-label {
  @apply tw-border-gray-300 !important;
}

.ee-select.vue-treeselect__value-remove {
  @apply tw-text-white hover:tw-text-red-200 tw-border-gray-300 !important;
}

.ee-select.vue-treeselect__checkbox--checked {
  @apply tw-bg-base-blue-main tw-border-base-blue-main !important;
}

.ee-select.vue-treeselect__label-container:hover .ee-select.vue-treeselect__checkbox--unchecked {
  @apply tw-border-base-blue-main !important;
}

.ee-select.vue-treeselect__control {
  @apply tw-border-base-gray-8 !important;
  height: 38px !important;
}

.ee-select.vue-treeselect__x-container {
  @apply tw-text-gray-400 hover:tw-text-red-500 !important;
}

.ee-select.vue-treeselect__control-arrow {
  @apply tw-text-gray-700 !important;
}

.ee-select.vue-treeselect__placeholder {
  line-height: 36px !important;
}
